<h1>Whose Flickr photos would you like to view?</h1>
<p>Default Flickr photostream: Flickr</p>
<%= form_with method: "get" do %>
  <%= text_field_tag :user_id, "Flickr", placeholder: "User ID" %>
  <%= submit_tag "Search" %>
<% end %>

<% if params[:user_id].present? %>
  <h1>Showing <%=params[:user_id]%>'s photos</h1>
  <% @photos.each do |photo| %>
    <img src=<%=Flickr.url_q(photo)%> alt=<%=photo.title%>>
  <% end %>
<% end %>
